# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

/text-athenaUi-test/ACTUAL.txt
/text-athenaUi-test/EXPECTED.TXT
/text-athenaUi-test/EXPECTED-UNIX.TXT
/text-athenaUi-test/data.csv

savedata.csv
data.csv
src/test/java/athena/loadTask.csv
